<%- include(__dirname + '/views/partials/header.ejs') %>

<!-- Hero -->
<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 text-center">
      <h1 class="mb-3">
        <span class="text-bg-success rounded-2">Kobra</span>  Receitas
      </h1>
      <h2 class="mb-5">Facilite sua Buscas por Receitas Já!</h2>
      <a href="/recipes" class="btn bg-success"
        ><svg
          width="10vh"
          height="10vh"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="24" height="24" />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M13 9C13 8.44772 12.5523 8 12 8C11.4477 8 11 8.44772 11 9V11H9C8.44772 11 8 11.4477 8 12C8 12.5523 8.44772 13 9 13H11V15C11 15.5523 11.4477 16 12 16C12.5523 16 13 15.5523 13 15V13H15C15.5523 13 16 12.5523 16 12C16 11.4477 15.5523 11 15 11H13V9ZM2 12C2 6.47715 6.47715 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12Z"
            fill="#323232"
          />
        </svg>
      </a>
    </div>
    <div class="col-4"></div>
  </div>
</div>

<!-- SVG Over Jumbotron -->

<div class="container-fluid">
  <div class="row">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      data-name="Layer 1"
      width="60vh"
      height="55vh"
      viewBox="0 0 811.34934 624.08084"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      style="margin-bottom: -2vh"
    >
      <path
        d="M616.1495,570.11987a11.48908,11.48908,0,0,1-8.8618-15.226l-50.423-87.20919,23.83287-7.50038,42.114,87.98251a11.55132,11.55132,0,0,1-6.662,21.953Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#ffb8b8"
      />
      <path
        d="M558.64011,481.81657a4.78018,4.78018,0,0,1-3.39927-2.553L541.9362,453.031a4.81473,4.81473,0,0,1,1.35821-5.99083L557.53448,436.087a4.78746,4.78746,0,0,1,6.24873.32452L583.531,455.17589a4.81188,4.81188,0,0,1-.11409,7.0824l-20.68282,18.42228a4.786,4.786,0,0,1-4.094,1.136Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M1005.67467,364.5052c0-67.16541-54.44832-226.54562-121.61374-226.54562S762.4472,297.33979,762.4472,364.5052a121.61374,121.61374,0,1,0,243.22747,0Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M884.061,734.37755a1,1,0,0,0,1-1V240.09337a1,1,0,0,0-2,0V733.37755A1,1,0,0,0,884.061,734.37755Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M884.061,321.03917a.9968.9968,0,0,0,.70716-.293l48.13452-48.13427a1,1,0,0,0-1.41431-1.41407l-48.13452,48.13428a1,1,0,0,0,.70715,1.707Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M884.061,404.36925a1,1,0,0,0,.70716-1.707l-80.61-80.61035a1,1,0,0,0-1.4143,1.41406l80.61,80.61035A.99705.99705,0,0,0,884.061,404.36925Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M956.95445,761.57339c-.17386.13428-.35659.25486-.53222.38619H807.32908c-2.92142-11.83653-3.953-23.68571.4107-33.97582,6.21716-14.66282,24.61808-23.81571,39.24692-17.51888a22.3376,22.3376,0,0,1,8.77357,6.94176c5.71689-10.23335,15.9718-17.949,27.80872-17.94055,14.82975.01059,27.15986,12.13812,31.18341,26.14659,6.47972-10.937,19.27818-18.58031,31.78747-15.29233C967.46305,715.81964,974.07183,748.34439,956.95445,761.57339Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#f2f2f2"
      />
      <path
        d="M369.22182,530.25056c0-48.26367-39.15192-162.791-87.44825-162.791s-87.44824,114.52731-87.44824,162.791a87.44827,87.44827,0,0,0,174.89649,0Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#e6e6e6"
      />
      <path
        d="M281.7736,742.85829a.71881.71881,0,0,0,.71907-.71858V440.8508a.71907.71907,0,0,0-1.43813,0V742.13971A.7188.7188,0,0,0,281.7736,742.85829Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M281.7736,499.01677a.717.717,0,0,0,.50849-.21052L316.894,464.218a.71881.71881,0,1,0-1.017-1.01612l-34.61188,34.5883a.71858.71858,0,0,0,.50849,1.22663Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M281.7736,558.896a.71858.71858,0,0,0,.50849-1.22664l-57.96386-57.92492a.71881.71881,0,1,0-1.017,1.01611l57.96386,57.92493A.71723.71723,0,0,0,281.7736,558.896Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3f3d56"
      />
      <path
        d="M333.79535,761.68207c-.125.09649-.25641.18314-.3827.27751H226.20491c-2.10069-8.50549-2.84249-17.02006.29532-24.41432,4.47055-10.5364,17.702-17.11347,28.2211-12.5887a16.06033,16.06033,0,0,1,6.30878,4.9882c4.11082-7.35347,11.48477-12.89776,19.99629-12.89171,10.66356.00761,19.52972,8.72221,22.42291,18.78841,4.65935-7.85913,13.86228-13.35143,22.85728-10.98876C341.35172,728.80438,346.10387,752.176,333.79535,761.68207Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#f2f2f2"
      />
      <path
        d="M556.17743,488.1216a4.78021,4.78021,0,0,1-3.32755-2.64584l-12.57581-26.58964a4.81474,4.81474,0,0,1,1.523-5.95107L556.3339,442.379a4.78749,4.78749,0,0,1,6.2374.4968l19.2226,19.302a4.81189,4.81189,0,0,1-.30945,7.07655L560.30123,487.099a4.786,4.786,0,0,1-4.1238,1.02261Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <polygon
        points="282.179 602.252 294.831 605.694 314.129 558.533 295.457 553.453 282.179 602.252"
        fill="#ffb8b8"
      />
      <path
        d="M471.96444,740.98921h41.20773a0,0,0,0,1,0,0v15.92117a0,0,0,0,1,0,0H486.8513a14.88686,14.88686,0,0,1-14.88686-14.88686v-1.03431A0,0,0,0,1,471.96444,740.98921Z"
        transform="translate(576.90565 1462.98578) rotate(-164.77933)"
        fill="#2f2e41"
      />
      <polygon
        points="390.336 611.906 403.447 611.905 409.685 561.332 390.333 561.333 390.336 611.906"
        fill="#ffb8b8"
      />
      <path
        d="M581.85169,746.11831h41.20773a0,0,0,0,1,0,0v15.92117a0,0,0,0,1,0,0H596.73855a14.88686,14.88686,0,0,1-14.88686-14.88686v-1.03431A0,0,0,0,1,581.85169,746.11831Z"
        transform="translate(1010.6202 1370.17071) rotate(179.99738)"
        fill="#2f2e41"
      />
      <circle
        cx="564.90961"
        cy="389.68711"
        r="26.26746"
        transform="translate(-304.41753 375.62855) rotate(-45)"
        fill="#ffb8b8"
      />
      <path
        d="M580.69575,709.64591,566.01394,602.28567a3.74337,3.74337,0,0,0-7.08033-1.11857l-49.9688,103.64006a4.83854,4.83854,0,0,1-5.802,2.49405l-19.25581-6.162a4.79651,4.79651,0,0,1-3.164-5.89987c23.42275-82.69648,43.64672-144.2217,66.21384-175.69189.088-.1222.17938-.23813.277-.352l5.00456-5.8393a4.80484,4.80484,0,0,1,3.65413-1.68046h36.84552a4.79,4.79,0,0,1,4.46877,3.02566l.95956,2.399a5.00351,5.00351,0,0,1,.195.59009c12.04415,45.84234,15.1672,106.72525,9.82817,191.60036a4.82663,4.82663,0,0,1-4.808,4.516H585.464A4.83106,4.83106,0,0,1,580.69575,709.64591Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#2f2e41"
      />
      <path
        d="M545.17585,517.36773h0c-5.30848-8.49524-30.63754-52.3814-7.9015-82.10429a3.80789,3.80789,0,0,0,.76295-1.80892l.90132-6.91192a4.80525,4.80525,0,0,1,5.61606-4.11706c7.90332,1.43815,22.78958,5.96045,33.6914,20.083a4.79516,4.79516,0,0,1,.95094,2.33739l.60158,4.81369a3.7,3.7,0,0,0,2.152,2.93375c6.95316,3.15726,22.51306,15.46042,16.83956,61.38527a4.797,4.797,0,0,1-4.62935,4.22882l-44.75589,1.41309c-.05066.001-.10079.00209-.15118.00209A4.82162,4.82162,0,0,1,545.17585,517.36773Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M527.02478,587.75319a11.48905,11.48905,0,0,1,2.28877-17.46779l13.374-99.84518,23.44909,8.62565L545.71269,574.446a11.55132,11.55132,0,0,1-18.68791,13.30717Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#ffb8b8"
      />
      <path
        d="M535.45771,482.71183a4.78022,4.78022,0,0,1-1.13084-4.09808l5.49732-28.89532A4.81475,4.81475,0,0,1,544.56,445.806l17.96523.03085a4.78746,4.78746,0,0,1,4.74818,4.07513l4.16649,26.92058a4.81188,4.81188,0,0,1-4.418,5.53669l-27.62927,1.94491a4.786,4.786,0,0,1-3.935-1.60237Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M536.00865,373.35077a108.9316,108.9316,0,0,0,4.30468-18.14537c.28713-3.58653-.63165-7.44559-3.24355-9.92018-4.88806-4.6311-13.19292-2.42535-18.30473,1.95753-7.38773,6.33426-11.07227,16.06871-12.46475,25.7s-.7798,19.42538-1.115,29.15107-1.72617,19.72594-6.6845,28.09949-14.15946,14.80106-23.86479,14.08838a16.79545,16.79545,0,0,1-10.51373-4.4556,12.19079,12.19079,0,0,1-3.66134-10.586c-4.9605,8.8824-2.44591,20.92092,4.9531,27.90363s18.7801,8.95664,28.50715,5.97536,17.73274-10.45674,22.51463-19.43657,6.5342-19.35318,6.28026-29.52368c-.195-7.81015-1.52262-15.68424-.20282-23.38454s6.139-15.51891,13.73829-17.33222Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#2f2e41"
      />
      <path
        d="M560.56619,414.10672a13.45731,13.45731,0,0,1,5.93493-19.4866c4.76257-2.10788,10.27161-1.30149,15.3828-2.302,9.158-1.7926,16.697-10.15748,17.24111-19.47335s-6.17836-18.6266-15.26152-20.76614c-3.62328-.85346-7.40086-.65265-11.11761-.4469-3.57014.19765-7.14275.39549-10.69511.80261-7.02873.80553-14.13876,2.50762-19.98854,6.48656s-10.2671,10.56805-10.19138,17.64238c.08641,8.07422,3.89434,24.1472,9.1901,30.24273,5.10943,5.88105,9,8,17.10963,8.4009Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#2f2e41"
      />
      <path
        d="M659.33789,511H647V498.66211a1.5,1.5,0,0,0-3,0V511H631.66211a1.5,1.5,0,0,0,0,3H644v12.33789a1.5,1.5,0,0,0,3,0V514h12.33789a1.5,1.5,0,0,0,0-3Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M624.33789,320H612V307.66211a1.5,1.5,0,0,0-3,0V320H596.66211a1.5,1.5,0,0,0,0,3H609v12.33789a1.5,1.5,0,0,0,3,0V323h12.33789a1.5,1.5,0,0,0,0-3Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
      <path
        d="M464.33789,376H452V363.66211a1.5,1.5,0,0,0-3,0V376H436.66211a1.5,1.5,0,0,0,0,3H449v12.33789a1.5,1.5,0,0,0,3,0V379h12.33789a1.5,1.5,0,0,0,0-3Z"
        transform="translate(-194.32533 -137.95958)"
        fill="#3a7f0d"
      />
    </svg>
  </div>
</div>

<!-- Jumbotron -->

<div
  class="container-fluid rounded-3 shadow-lg"
  style="background-color: #1f4735"
>
  <div class="row mx-3">
    <div
      class="col-12 col-lg-4 my-5 rounded-5 text-center bg-light shadow-lg border-dark border-opacity-25 border-3"
      style="border: solid"
    >
      <svg
        class="filterCrimson mt-3"
        width="12vh"
        height="12vh"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M2 10C2 7.23858 4.23858 5 7 5C7.25052 5 7.49673 5.01842 7.73736 5.05399C8.33961 3.27806 10.0206 2 12 2C13.9794 2 15.6604 3.27806 16.2626 5.05399C16.5033 5.01842 16.7495 5 17 5C19.7614 5 22 7.23858 22 10C22 12.0503 20.7659 13.8124 19 14.584L19 18C19 19.8856 19 20.8284 18.4142 21.4142C17.8284 22 16.8856 22 15 22H9C7.11438 22 6.17157 22 5.58579 21.4142C5 20.8284 5 19.8856 5 18V14.584C3.2341 13.8124 2 12.0503 2 10ZM9 17.25C8.58579 17.25 8.25 17.5858 8.25 18C8.25 18.4142 8.58579 18.75 9 18.75H15C15.4142 18.75 15.75 18.4142 15.75 18C15.75 17.5858 15.4142 17.25 15 17.25H9Z"
          fill="#1C274C"
        />
      </svg>
      <h3 class="fs-1 pt-4">
        <span class="text-bg-dark rounded-3 p-1">Cozinha</span>
      </h3>
      <h4 class="fs-3 text-dark">Mais de 25</h4>
      <ul class="list-unstyled fs-5 jumbotron">
        <li class="text-bg-dark rounded-2">Italiana</li>
        <li>Francesa</li>
        <li class="text-bg-dark rounded-2">Mexicana</li>
        <li>Japonesa</li>
        <li class="text-bg-dark rounded-2">Alemã</li>
        <li>E muito mais!</li>
      </ul>
    </div>

    <div
      class="col-12 col-lg-4 my-5 rounded-5 text-center bg-light shadow-lg border-dark border-opacity-25 border-3"
      style="border: solid"
    >
      <svg
        class="filterOrange mt-3"
        height="12vh"
        width="12vh"
        version="1.1"
        id="_x32_"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <style type="text/css">
          .st0 {
            fill: #000000;
          }
        </style>
        <g>
          <path
            class="st0"
            d="M418.089,47.697l-15.133-24.248c3.545-2.263,5.913-6.214,5.913-10.726C408.869,5.696,403.18,0,396.147,0
       H112.098C98.843,0,86.765,5.402,78.092,14.089c-8.688,8.652-14.306,20.759-14.306,33.993v422.023
       c0,23.134,18.762,41.895,41.896,41.895h307.237c19.49,0,35.296-15.792,35.296-35.275V82.467
       C448.215,64.742,435.099,50.24,418.089,47.697z M151.738,180.34l27.996,33.145c2.2,2.614,5.886,3.118,8.225,1.136l1.149-0.96
       c2.34-1.983,2.48-5.703,0.266-8.316l-28.15-33.334c-5.676-6.718-3.293-12.169,0.616-15.469c3.909-3.3,9.682-4.736,15.357,1.983
       l28.15,33.334c2.2,2.613,5.899,3.11,8.239,1.128l1.135-0.96c2.34-1.976,2.48-5.696,0.266-8.309l-27.996-33.152
       c-10.159-12.029,5.66-24.682,15.581-12.926c11.896,14.082,26.441,31.309,26.441,31.309c18.341,21.565,18.412,31.12,16.408,44.355
       c-1.611,10.663-4.288,18.243,7.09,31.722l3.615,4.274l-15.959,18.895l-6.292-7.433c-11.377-13.48-19.294-12.114-30.083-12.303
       c-13.382-0.238-22.784-1.934-40.971-23.616c0,0-14.544-17.228-26.44-31.31C126.461,181.783,141.579,168.304,151.738,180.34z
        M204.829,448.226h-9.038v-27.33l-8.968,18.972h-6.46l-9.234-19.077v27.436h-9.024V400.06h8.659l12.821,27.309l12.568-27.309h8.674
       V448.226z M250.115,408.376h-22.489v11.448h19.183v8.253h-19.183v11.833h22.489v8.316h-31.513V400.06h31.513V408.376z
        M298.315,448.226h-7.972l-19.757-30.084v30.084h-9.024V400.06h7.973l19.756,30.02v-30.02h9.024V448.226z M269.199,302.586
       l15.96-18.902l47.01,55.676l-18.622,15.743L269.199,302.586z M346.601,431.656c0,2.508-0.462,4.834-1.345,6.914
       c-0.897,2.088-2.158,3.896-3.741,5.367c-1.584,1.464-3.475,2.62-5.619,3.447c-2.13,0.812-4.456,1.226-6.908,1.226
       c-2.438,0-4.764-0.414-6.908-1.226c-2.144-0.827-4.021-1.99-5.576-3.454c-1.57-1.472-2.816-3.272-3.699-5.36
       c-0.897-2.08-1.345-4.406-1.345-6.914V400.06h9.024v31.274c0,2.823,0.77,5.051,2.298,6.613c1.541,1.583,3.572,2.347,6.207,2.347
       s4.68-0.77,6.249-2.354c1.57-1.584,2.326-3.748,2.326-6.607V400.06h9.038V431.656z M367.086,181.405
       c-6.418,15.644-17.95,44.347-30.841,59.627c-29.985,37.608-30.392,3.538-55.108,31.94l-69.359,82.131l-18.537-15.665l-0.309,0.182
       c0,0,0.084-0.106,0.21-0.253c2.928-3.461,44.179-52.306,79.672-94.348c35.114-41.58,64.426-76.302,70.605-83.609
       C356.087,146.396,377.105,157.052,367.086,181.405z M90.198,48.65v-0.568c0-5.57,2.382-11.14,6.529-15.28
       c4.134-4.147,9.57-6.396,15.371-6.396h261.573l13.886,22.244H90.198z"
          />
        </g>
      </svg>
      <h3 class="fs-1 pt-4">
        <span class="text-bg-dark rounded-3 p-1">Tipos</span>
      </h3>
      <h4 class="fs-3 text-dark">Mais de 10</h4>
      <ul class="list-unstyled fs-5 jumbotron">
        <li class="text-bg-dark rounded-2">Prato Principal</li>
        <li>Sobremesa</li>
        <li class="text-bg-dark rounded-2">Acompanhamentos</li>
        <li>Saladas</li>
        <li class="text-bg-dark rounded-2">Bebidas</li>
        <li>...!</li>
      </ul>
    </div>

    <div
      class="col-12 col-lg-4 my-5 rounded-5 text-center bg-light shadow-lg border-dark border-opacity-25 border-3"
      style="border: solid"
    >
      <svg
        class="filterGreen mt-3"
        fill="#000000"
        height="12vh"
        width="12vh"
        version="1.1"
        id="Layer_1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 512 512"
        xml:space="preserve"
      >
        <g>
          <g>
            <path
              d="M422.251,237.456c15.885-22.584,13.966-53.855,13.966-53.855s-38.686-2.389-61.074,20
         c-5.7,5.7-9.787,12.456-12.723,19.362c-3.211-12.857-8.147-28.127-15.733-45.467l-30.593,13.382
         c8.114,18.55,16.703,44.619,18.414,65.946c-10.383-5.909-23.643-13.781-38.447-17.026C138.429,205.232,172.8,512,303.199,512
         c34.974,0,34.552-9.722,48.333-9.722c13.781,0,13.359,9.722,48.333,9.722C525.879,512,562.207,225.53,422.251,237.456z"
            />
          </g>
        </g>
        <g>
          <g>
            <path
              d="M0.002,0v108.327V512H221.62c-11.954-11.068-22.614-24.644-31.8-40.557c-5.09-8.816-9.62-18.242-13.586-28.081H95.562
         v-33.391h69.884c-3.72-14.938-6.189-30.368-7.226-45.847c-0.137-2.04-0.229-4.068-0.315-6.094H95.56v-33.391h63.29
         c1.936-18.904,6.269-36.501,12.836-51.942H95.56v-33.391h96.707c20.169-23.122,47.95-35.616,80.177-35.615c0.008,0,0.02,0,0.027,0
         c4.271,0,8.635,0.223,13.07,0.662c-0.013-0.03-0.027-0.06-0.04-0.091l-7.392-16.898H95.56v-33.391h192.237v12.839l14.915-6.524
         l30.593-13.382l30.593-13.382l12.629,28.87c2.271-1.103,4.551-2.105,6.829-3.021V0H0.002z M287.798,102.029H95.56V68.638h192.237
         V102.029z"
            />
          </g>
        </g>
      </svg>
      <h3 class="fs-1 pt-4">
        <span class="text-bg-dark rounded-3 p-1">Dietas</span>
      </h3>
      <h4 class="fs-3 text-dark">Todas Inclusivas</h4>
      <ul class="list-unstyled fs-5 jumbotron">
        <li class="text-bg-dark rounded-2">Sem Glúten</li>
        <li>Vegetariana</li>
        <li class="text-bg-dark rounded-2">Cetogênica</li>
        <li>Vegana</li>
        <li class="text-bg-dark rounded-2">Pescetariana</li>
        <li>...E mais!</li>
      </ul>
    </div>
  </div>
</div>

<!-- Show Up -->

<div class="container-fluid" style="margin-top: 30vh">
  <div class="row">
    <div class="col-12 col-lg-6 p-0">
      <svg
        class="hand"
        xmlns="http://www.w3.org/2000/svg"
        data-name="Layer 1"
        width="85vh"
        height="75vh"
        viewBox="0 0 886 654.3011"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path
          d="M534.69721,566.28435s117.66268-14.11952,158.84462-36.47543,347.10492-32.94555,347.10492,36.47543S688.83533,666.29763,688.83533,666.29763L504.10491,655.708Z"
          transform="translate(-157 -122.59945)"
          fill="#fbbebe"
        />
        <path
          d="M534.69721,566.28435s117.66268-14.11952,158.84462-36.47543,347.10492-32.94555,347.10492,36.47543S688.83533,666.29763,688.83533,666.29763L504.10491,655.708Z"
          transform="translate(-157 -122.59945)"
          opacity="0.1"
        />
        <path
          d="M568.81939,553.34145l-24.70916,71.77424L157,629.8222V523.92578s148.255-34.12218,265.91766,38.82869C422.91766,562.75447,561.75963,546.28169,568.81939,553.34145Z"
          transform="translate(-157 -122.59945)"
          fill="#3a7f0d"
        />
        <path
          d="M568.81939,553.22576,544.11023,625,157,629.70651V523.81009s148.255-34.12217,265.91766,38.82869C422.91766,562.63878,561.75963,546.166,568.81939,553.22576Z"
          transform="translate(-157 -122.59945)"
          opacity="0.1"
        />
        <path
          d="M1011.40421,523.33747c0,4.01013-8.99291,6.98746-9.87713,10.85578-.877,3.837,4.466,9.67153,2.7754,13.33593a72.56315,72.56315,0,0,1-6.17161,10.73274c-2.21493,3.17137-9.05694,2.70824-11.86227,5.68227a94.31858,94.31858,0,0,1-8.71239,7.57632c-2.97685,2.47558-7.00983,2.995-10.3949,5.27405-3.21855,2.16694-2.82908,10.11566-6.38943,12.089-3.40209,1.88559-8.60988.3689-12.30036,2.0638-3.54222,1.6268-5.41036,7.51078-9.19734,8.94966-3.65224,1.38768-8.17251.79041-12.03369,1.99233-3.737,1.16328-7.91819.97444-11.834,1.95379-3.8025.951-6.70671,6.651-10.66232,7.41945-3.854.74876-8.3706-1.24829-12.35568-.68116-3.89167.55383-8.41763-4.37162-12.421-3.9988-3.91842.36491-7.61086,2.64509-11.62382,2.8293-3.93486.18062-7.825,1.91354-11.839,1.91354-4.01326,0-8.155,3.76516-12.0891,3.58461-4.01286-.18416-7.64576-5.89119-11.56409-6.25606-4.00373-.37281-8.7793,5.58855-12.67133,5.03469-3.98495-.56708-7.14123-6.40236-10.99514-7.15107-3.95666-.76866-9.06677,3.40179-12.87023,2.45052-3.9163-.97949-6.24086-7.76777-9.97832-8.93124-3.86105-1.20193-8.64707.42607-12.29918-.96161-3.78762-1.43918-8.40158-1.20794-11.94434-2.83511-3.69044-1.695-6.33948-5.70566-9.74152-7.59135-3.56035-1.97344-5.20212-6.86749-8.42064-9.03457-3.38534-2.2794-8.543-1.98843-11.52-4.46441-3.143-2.614-9.03152-2.75028-11.684-5.56266-2.80531-2.97446-3.94048-7.96872-6.15524-11.14054-2.3325-3.34045,2.24541-10.40268.61691-13.93333-1.68988-3.66373-8.75561-5.15233-9.63228-8.98856a56.43529,56.43529,0,0,1-1.38412-12.20727c0-4.01013,6.04275-7.07505,6.927-10.94337.87705-3.837-3.5706-9.34765-1.88-13.012,1.62909-3.53111,1.4209-8.95885,3.75419-12.29969,2.21492-3.17137,7.74247-4.41466,10.54781-7.38869,2.65244-2.81195,7.39972-3.59649,10.54257-6.21012,2.97685-2.47558,2.59756-9.94153,5.98263-12.22058,3.21855-2.16693,7.71233-3.15553,11.27269-5.12883,3.40209-1.88559,8.2166-1.568,11.90708-3.26286,3.54222-1.62681,9.09051,1.57878,12.87749.1399,3.65223-1.38768,6.61443-4.42066,10.47561-5.62258,3.737-1.16327,5.49295-10.03477,9.40878-11.01411,3.8025-.951,8.48123.62756,12.43684-.14094,3.854-.74875,9.03982,6.25065,13.0249,5.68353,3.89167-.55383,6.80233-9.89764,10.80568-10.27046,3.91843-.36492,8.33653,4.4746,12.34949,4.29039,3.93486-.18061,7.88586,2.65493,11.89989,2.65493,4.01325,0,8.012-3.89163,11.9461-3.71108,4.01286.18417,7.55113,5.3271,11.46946,5.692,4.00373.37281,8.91865-7.44985,12.81068-6.896,3.98495.56708,7.06419,6.61418,10.91811,7.36288,3.95665.76866,8.91232-2.98574,12.71579-2.03447,3.9163.97948,6.27257,7.40675,10.01,8.57021,3.861,1.20194,6.23986,5.73621,9.892,7.12389,3.78763,1.43917,10.82321-5.29424,14.366-3.66707,3.69044,1.695,6.878,4.62825,10.28005,6.51394,3.56035,1.97344,9.22033.981,12.43884,3.14809,3.38534,2.2794,4.21769,8.39757,7.1947,10.87355,3.143,2.614,8.32722,3.401,10.97967,6.21338,2.80531,2.97446,3.195,8.304,5.40974,11.47584,2.33251,3.34045,2.25969,7.96873,3.88819,11.49938,1.68988,3.66373,6.20167,6.43485,7.07833,10.27108C1008.78607,514.895,1011.40421,519.32831,1011.40421,523.33747Z"
          transform="translate(-157 -122.59945)"
          fill="#3f3d56"
        />
        <path
          d="M587.64542,596.87665S720.60425,528.63229,806.498,554.51808s205.90969-18.826,220.02921-3.52988,34.12218,180.0239-135.31208,189.43692-314.15936-28.23905-314.15936-28.23905Z"
          transform="translate(-157 -122.59945)"
          fill="#fbbebe"
        />
        <path
          d="M556.33394,589.60871S608.8247,586.287,606.47145,605.113s-4.70651,164.72776-18.826,168.25764-125.89907,3.52988-171.78752,3.52988H157V551.32636s183.55378-10.9278,275.33068,34.96064C432.33068,586.287,542.67187,584.694,556.33394,589.60871Z"
          transform="translate(-157 -122.59945)"
          fill="#3a7f0d"
        />
        <path
          d="M802.23938,236.77869a27.04128,27.04128,0,0,0-23.30891,16.29741c-5.82841,14.08872,1.67611,30.638,12.94175,40.91165s25.737,16.146,38.88553,23.86474c17.6606,10.3676,33.5301,24.75954,42.36669,43.23381s9.77646,41.35854-.61056,59.00773c-9.64093,16.38147-27.17132,26.18572-43.89076,35.22786"
          transform="translate(-157 -122.59945)"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <path
          d="M849.30446,150.88493a27.0413,27.0413,0,0,0-23.30892,16.29742c-5.82841,14.08871,1.67611,30.638,12.94175,40.91164s25.73705,16.146,38.88553,23.86474c17.66061,10.3676,33.5301,24.75955,42.3667,43.23382s9.77645,41.35853-.61057,59.00772c-9.64092,16.38147-27.17132,26.18572-43.89076,35.22786"
          transform="translate(-157 -122.59945)"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <path
          d="M1004.05062,170.64a27.04127,27.04127,0,0,0-28.40774-1.38242c-13.23342,7.57224-17.43052,25.25222-14.81179,40.27235s10.46668,28.52256,16.13823,42.67515c7.61783,19.00927,11.35579,40.10422,7.03358,60.12177s-17.58823,38.688-36.60588,46.28493c-17.65163,7.05125-37.51521,4.072-56.271.98658"
          transform="translate(-157 -122.59945)"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="710.6826"
          cy="211.88941"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="707.15272"
          cy="209.53616"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="771.8672"
          cy="200.12315"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="768.33732"
          cy="197.76989"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="781.28021"
          cy="251.89473"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="777.75033"
          cy="249.54147"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="775.39708"
          cy="122.46577"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="771.8672"
          cy="120.11252"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="704.79947"
          cy="114.22939"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="701.26959"
          cy="111.87613"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="736.56839"
          cy="84.81372"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="733.03851"
          cy="82.46046"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="805.98938"
          cy="90.69685"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="802.4595"
          cy="88.3436"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="857.76096"
          cy="129.52554"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="854.23108"
          cy="127.17228"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="675.3838"
          cy="61.28118"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="671.85392"
          cy="58.92793"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="693.0332"
          cy="16.56936"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="689.50332"
          cy="14.21611"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="856.58433"
          cy="49.51491"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="853.05445"
          cy="47.16166"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="596.5498"
          cy="157.76458"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="593.01992"
          cy="155.41133"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="694.20983"
          cy="150.70482"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="690.67995"
          cy="148.35157"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="822.46215"
          cy="161.29446"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="818.93227"
          cy="158.94121"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="754.2178"
          cy="166.00097"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="750.68792"
          cy="163.64771"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="758.9243"
          cy="48.33828"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="755.39442"
          cy="45.98503"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="637.73174"
          cy="121.28915"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="634.20186"
          cy="118.93589"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <ellipse
          cx="654.20452"
          cy="174.23736"
          rx="28.23904"
          ry="13.71611"
          fill="#57b894"
        />
        <ellipse
          cx="650.67463"
          cy="171.8841"
          rx="28.23904"
          ry="13.71611"
          fill="none"
          stroke="#3f3d56"
          stroke-miterlimit="10"
        />
        <g opacity="0.3">
          <ellipse
            cx="806.26874"
            cy="387.36508"
            rx="14.7942"
            ry="6.40684"
            transform="translate(-82.2221 779.58806) rotate(-60.79941)"
            fill="#57b894"
          />
          <ellipse
            cx="804.40702"
            cy="388.44307"
            rx="14.7942"
            ry="6.40684"
            transform="translate(-84.11655 778.515) rotate(-60.79941)"
            fill="none"
            stroke="#3f3d56"
            stroke-miterlimit="10"
          />
        </g>
        <g opacity="0.3">
          <ellipse
            cx="948.03219"
            cy="414.81604"
            rx="6.40684"
            ry="14.7942"
            transform="translate(-150.30628 722.00638) rotate(-48.17218)"
            fill="#57b894"
          />
          <ellipse
            cx="947.38726"
            cy="412.76369"
            rx="6.40684"
            ry="14.7942"
            transform="translate(-148.99179 720.84216) rotate(-48.17218)"
            fill="none"
            stroke="#3f3d56"
            stroke-miterlimit="10"
          />
        </g>
        <g opacity="0.3">
          <ellipse
            cx="816.24999"
            cy="340.68855"
            rx="6.40684"
            ry="14.7942"
            transform="translate(-138.9674 599.1163) rotate(-48.17218)"
            fill="#57b894"
          />
          <ellipse
            cx="815.60505"
            cy="338.6362"
            rx="6.40684"
            ry="14.7942"
            transform="translate(-137.65292 597.95208) rotate(-48.17218)"
            fill="none"
            stroke="#3f3d56"
            stroke-miterlimit="10"
          />
        </g>
      </svg>
    </div>
    <div class="col-12 col-xl-6 text-center">
      <div
        id="hamburguer"
        class="rounded-5 p-4 pb-5 bg-dark text-bg-dark shadow-lg imgShow"
        
      >
        <h2><span style="color: rgb(87, 184, 148)">Receitas</span></h2>
        <h3>Para Conhecer</h3>
        <img
          src="/images/hamburguer.jpg"
          style="
            background-color: rgb(87, 184, 148);
            border: solid;
            border-color: rgb(87, 184, 148);
          "
          class="img-thumbnail mt-4"
          width="300vh"
          height="350vh"
          alt="Hamburguer"
        />
      </div>
    </div>
  </div>
</div>

<div  class="container-fluid " style="margin-top: 30vh">
  <div class="row">
    <div class="col-12 col-xl-6 text-center">
      <div
        id="Bowl"
        class="rounded-5 p-4 pb-5 bg-dark text-bg-dark shadow-lg imgShow"
      >
        <h2><span style="color: rgb(87, 184, 148)">Momentos</span></h2>
        <h3>Para Provar</h3>
        <img
          src="/images/Bowl.jpg"
          style="
            background-color: rgb(87, 184, 148);
            border: solid;
            border-color: rgb(87, 184, 148);
            overflow-x: hidden;
          "
          class="img-thumbnail mt-4"
          width="315vh"
          height="350vh"
          alt="Bowl"
        />
      </div>
    </div>
    <div class="col-12 col-lg-6 p-0">
      <svg
        class="hand"
        xmlns="http://www.w3.org/2000/svg"
        data-name="Layer 1"
        width="95vh"
        height="98vh"
        viewBox="0 0 505.46625 500"
        xmlns:xlink="http://www.w3.org/1999/xlink"
      >
        <path
          d="M706.73312,652.47268l5,96S500.239,547.178,473.89063,488.28153,497.13921,283.694,497.13921,283.694l110.04332,60.44633Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <path
          d="M382.44618,243.39641l-32.548,3.09981s-17.049,37.19774,35.64783,40.29756Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <path
          d="M382.44618,300.74293l-32.548,3.09981s-17.049,37.19774,35.64783,40.29755Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <path
          d="M382.44618,362.73916l-32.548,3.09981s-17.049,37.19774,35.64783,40.29756Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <path
          d="M391.74562,424.7354l-32.548,3.09981s-17.049,37.19774,35.64784,40.29755Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <path
          d="M366.60044,258.3401h2.46966V190.68455a39.15718,39.15718,0,0,1,39.15715-39.15723H551.56477a39.15718,39.15718,0,0,1,39.15726,39.1571V561.84816a39.15719,39.15719,0,0,1-39.15715,39.15723H408.22744a39.1572,39.1572,0,0,1-39.15731-39.15708V306.49848h-2.46969Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#3f3d56"
        />
        <path
          d="M406.64739,161.71467h18.71028a13.8929,13.8929,0,0,0,12.86292,19.13985h82.1162a13.89286,13.89286,0,0,0,12.86291-19.13987h17.47545a29.24215,29.24215,0,0,1,29.24218,29.24211V561.57589a29.24216,29.24216,0,0,1-29.24214,29.24218H406.64739a29.24216,29.24216,0,0,1-29.24218-29.24214h0V190.95679A29.24214,29.24214,0,0,1,406.64739,161.71467Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#fff"
        />
        <rect
          x="100.53673"
          y="114.01642"
          width="61.71533"
          height="14.89247"
          fill="#3a7f0d"
          style="isolation: isolate"
        />
        <rect
          x="97.59857"
          y="178.00873"
          width="67.59164"
          height="14.89247"
          fill="#e5e5e5"
        />
        <rect
          x="55.96534"
          y="209.9996"
          width="150.85812"
          height="14.89247"
          fill="#e5e5e5"
        />
        <rect
          x="55.96534"
          y="241.99047"
          width="150.85812"
          height="14.89247"
          fill="#e5e5e5"
        />
        <path
          d="M852.73312,702.47268l-173.48-197.91713-6.19962-127.09228-65.096-108.49341-18.59887-46.49718s-43.39736,4.64972-7.74953,92.99435l14.72411,47.27213,0,0a216.67408,216.67408,0,0,0-20.14876,91.24394v108.3237c0,25.50678,121.55,164.44287,135.69866,185.6658l0,0Z"
          transform="translate(-347.26688 -151.52732)"
          fill="#9f616a"
        />
        <polygon
          points="247.195 126.636 260.136 120.276 259.695 119.378 247.738 125.255 229.688 77.932 228.754 78.289 247.195 126.636"
          opacity="0.2"
        />
        <rect
          x="358.98404"
          y="239.81058"
          width="1.00012"
          height="20.43016"
          transform="translate(-346.65612 349.39987) rotate(-69.7779)"
          opacity="0.2"
        />
        <rect
          x="358.98404"
          y="297.81058"
          width="1.00012"
          height="20.43016"
          transform="translate(-401.08099 387.35158) rotate(-69.7779)"
          opacity="0.2"
        />
        <rect
          x="358.98404"
          y="359.81058"
          width="1.00012"
          height="20.43016"
          transform="translate(-459.25929 427.92066) rotate(-69.7779)"
          opacity="0.2"
        />
        <rect
          x="364.06574"
          y="425.55799"
          width="0.99981"
          height="10.35283"
          transform="translate(-528.7721 421.49849) rotate(-64.36101)"
          opacity="0.2"
        />
        <circle cx="131.47081" cy="342.17535" r="43.22999" fill="#3a7f0d" />
        <polygon
          points="127.351 360.424 114.413 343.787 121.937 337.935 128.063 345.812 148.76 323.964 155.681 330.521 127.351 360.424"
          fill="#fff"
        />
      </svg>
    </div>
  </div>
</div>


<!-- Call to Action -->

<div
  class="container-fluid shadow-sm bg-light-subtle border-5 rounded-5"
  style="border: solid"
>
  <div class="row text-center py-5">
    <div class="col-12 col-lg-6 align-self-center">
      <h1>
        <span class="bg-dark p-2 rounded-1" style="color: rgb(87, 184, 148)"
          >Diversifique</span
        >
        seu Paladar:
      </h1>
    </div>
    <div class="col-12 col-lg-6 align-self-center">
      <h2 class="py-4 ">
        <span class="text-dark p-2 rounded-1" style="background-color: #57b894"
          >Procure</span
        >
        Receitas!
      </h2>
      <a class="btn btn-dark px-5" href="/recipes"
        ><svg
          class="filterSeaGreen"
          fill="#000000"
          width="10vh"
          height="10vh"
          viewBox="0 -3.84 122.88 122.88"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          style="enable-background: new 0 0 122.88 115.21"
          xml:space="preserve"
        >
          <g>
            <path
              d="M29.03,100.46l20.79-25.21l9.51,12.13L41,110.69C33.98,119.61,20.99,110.21,29.03,100.46L29.03,100.46z M53.31,43.05 c1.98-6.46,1.07-11.98-6.37-20.18L28.76,1c-2.58-3.03-8.66,1.42-6.12,5.09L37.18,24c2.75,3.34-2.36,7.76-5.2,4.32L16.94,9.8 c-2.8-3.21-8.59,1.03-5.66,4.7c4.24,5.1,10.8,13.43,15.04,18.53c2.94,2.99-1.53,7.42-4.43,3.69L6.96,18.32 c-2.19-2.38-5.77-0.9-6.72,1.88c-1.02,2.97,1.49,5.14,3.2,7.34L20.1,49.06c5.17,5.99,10.95,9.54,17.67,7.53 c1.03-0.31,2.29-0.94,3.64-1.77l44.76,57.78c2.41,3.11,7.06,3.44,10.08,0.93l0.69-0.57c3.4-2.83,3.95-8,1.04-11.34L50.58,47.16 C51.96,45.62,52.97,44.16,53.31,43.05L53.31,43.05z M65.98,55.65l7.37-8.94C63.87,23.21,99-8.11,116.03,6.29 C136.72,23.8,105.97,66,84.36,55.57l-8.73,11.09L65.98,55.65L65.98,55.65z"
            />
          </g></svg
      ></a>
    </div>
  </div>
</div>

<%- include(__dirname + '/views/partials/footerHome.ejs') %>
